# macOS
.DS_Store

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/

# Tools
.ruff_cache/
.coverage
htmlcov/

# Editors
.idea
*.orig

# Django
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
static/
media/

# Environment
.venv
.direnv
.env

# Misc
node_modules/
dump.rdb
