[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
ipdb = "*"
ipython = "*"
Django = "*"
pypugjs = "*"
django-secrets = "*"
django-undeletable = "*"
django-extensions = "*"
dj-static = "*"
django-livereload-server = "*"
django_compressor = "*"
