[v-cloak]
  display: none
$yellow: #FCD517

html
  height: 100%
body, #app
  height: 100%
  display: flex
  flex-direction: column
main
  flex-grow: 1

footer
  padding: 1em 0

.hello
  display: flex
  height: 100%
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  h1
    font-family: 'Barrio', cursive
    font-size: 50px

input#title
  text-align: right

.userChange
  width: 500px
