[v-cloak]
  display: none
$yellow: #FCD517

html
  height: 100%
body, #app
  height: 100%
  display: flex
  flex-direction: column
main
  flex-grow: 1

footer
  padding: 1em 0

.hello-world
  margin-top: 42vh
  font-size: 60px
  text-align: center
  font-family: 'Barrio', cursive

input#title
  text-align: right

.joke
  text-align: center
