- load static compress
!!! 5

html(lang='de')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title
      block title
        | Give me a title
    link(href="https://fonts.googleapis.com/css?family=Barrio", rel="stylesheet")
    script(src="{% static 'js/vue.global.js' %}")
    script(src="{% static 'js/vuetify.min.js' %}")
    script(src="{% static 'js/axios.min.js' %}")
    script(src="{% static 'js/moment.min.js' %}")

    link(href='{% static "css/vuetify.min.css" %}', rel="stylesheet", type="text/css")
    link(href='{% static "css/materialdesignicons.min.css" %}', rel="stylesheet", type="text/css")

    -compress css
      link(href='{% static "sass/styles.sass" %}', rel="stylesheet", type="text/x-sass")

body
  #app
    header
      block header
    main
      block content
    footer
      block footer

  block all_scripts
    script.
      const {createApp} = Vue
      const {createVuetify} = Vuetify

      const vuetify = createVuetify({
        theme: {
          themes: {
            light: {
              dark: false,
              colors: {
                primary: "#0D2575",
                secondary: "#383D3F"
              }
            },
          },
        },
      })

      // if the current domain is pss-stage.hbt-group.com, add class caution to div.stage
      if (window.location.hostname === 'pss-stage.hbt-group.com') {
        document.querySelector('.stage').classList.add('caution')
      }

    block vue
      script.
        const app = createApp({
          delimiters: ['[[', ']]'],
          data() {
            return {
            }
          },
          created() {
          },
          methods: {
          }
        })

    script.
      app.use(vuetify)
      app.mount('#app')
