- load static compress
!!! 5

html(lang='{{ LANGUAGE_CODE }}')
  head
    meta(charset="UTF-8")
    // These viewport defaults can cause zoom issues on mobile; adjust or remove them if needed for the project.
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title
      block title
        | Give me a title

    link(href="https://fonts.googleapis.com/css?family=Barrio", rel="stylesheet")
    link(href='{% static "css/vuetify.min.css" %}', rel="stylesheet", type="text/css")
    link(href='{% static "css/materialdesignicons.min.css" %}', rel="stylesheet", type="text/css")
    //link(rel="icon" type="image/png" media="(prefers-color-scheme: light)" href="{% static 'img/favicon-light.png' %}")
    //link(rel="icon" type="image/png" media="(prefers-color-scheme: dark)" href="{% static 'img/favicon-dark.png' %}")

    -compress css
      link(href='{% static "sass/styles.sass" %}', rel="stylesheet", type="text/x-sass")

body
  #app
    v-app(v-cloak)
      .notificationContainer
        v-expand-transition(group)
          .notification(v-for="notification in store.notifications" :key="notification.timestamp")
            .pa-1
              v-alert(
                :type="notification.type"
                :class="{'cursor-pointer': notification.action}"
                @click="handleNotificationClick(notification)"
              )
                .content(v-text="notification.message")
      block header
      v-main
        block content
      footer
        block footer

  script(src="{% static 'js/vendor/vue.global.js' %}")
  script(src="{% static 'js/vendor/vuetify.min.js' %}")
  script(src="{% static 'js/vendor/axios.min.js' %}")
  script(src="{% static 'js/vendor/moment.min.js' %}")
  script(src="{% static 'js/vendor/pinia.iife.prod.js' %}")

  script(type="application/json" id="app-config").
    {
      "apiBaseUrl": "/api/",
      "csrfHeaderName": "X-CSRFTOKEN",
      "csrfCookieName": "csrftoken",
      "stagingHost": "",
      "theme": {
        "light": {
          "dark": false,
          "colors": {
            "primary": "#7573DB",
            "secondary": "#d26b1f",
            "accent": "#D8D8EE",
            "error": "#FF5252",
            "info": "#2196F3",
            "success": "#4CAF50",
            "warning": "#FFC107"
          }
        }
      }
    }

  block components
  block vue

  script(type="module" src="{% static 'js/bootstrap.js' %}")
