extends 'base.pug'
-load static compress

block title
  | Hello Django

block content
  .hello-world
    span(v-text='intro')
  .joke(v-text="joke")


block footer
  .container
    .v-row
      .v-col-4
        v-text-field#title(v-model='intro' density="compact")
      .v-col-auto
        v-btn(:loading="isLoading" color="primary"
          @click="loadJoke()" href="#") get me another joke


block vue
  script.
    const app = createApp({
      delimiters: ['[[', ']]'],
      el: '#app',
      data() {
        return {
          intro: "Django + VueJs = â¤",
          joke: '',
          isLoading: false
        }
      },
      methods: {
        loadJoke: function () {
          this.isLoading = true
          axios.get('https://api.chucknorris.io/jokes/random')
            .then((response) => { // Arrow function
              this.joke = response.data.value // properly updates this.joke
              this.isLoading = false
            })
            .catch((error) => {
              console.error('Error loading joke:', error)
              this.isLoading = false
            })
        }
      },
      created() {
        this.loadJoke()
        setTimeout(() => {
          title.focus();
        }, 500);
      }
    })
