extends 'base.pug'
-load static compress

block title
  | Hello Django

block content
  .hello-world Hello&nbsp;
    span(v-text='who')
    | !

block footer
  .container
    input(v-model='who', @click="click")
    span.blinking-cursor
    |  is awesome!


block extra_js
  script.
    app = new Vue({
        el: '#app',
        data: {
          who: "Django"
        },
      methods: {
        click: function(event){
          $('.blinking-cursor').remove();
          $(event.target).select()
        }
      }
    });
