extends 'base.pug'
-load static compress

block title
  | Hello Django

block content
  .hello
    h1(v-text='title')
    .joke(v-text="joke")

    .mt-16
      user-change

block footer
  .container
    .v-row
      .v-col-3
        v-text-field#title(v-model='title' density="compact")
      .v-col-auto
        v-btn(:loading="isLoading" color="primary"
          @click="loadJoke()")
            v-icon.mr-1 mdi-autorenew
            |  get me another joke

block components
  script(type="text/x-template" id="user-change-template")
    -include 'components/UserChange.pug'

block vue
  script(type="module").
    import indexAppOptions from '{% static "js/pages/index.js" %}'
    window.__VUE_APP_OPTIONS__ = indexAppOptions
