-load static compress
!!!5
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0')
    //link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")
    title
      block title
        | Give me a title
    meta(name="viewport", content="initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    -compress css
      link(rel="stylesheet", href="{% static 'css/bootstrap.min.css' %}")
      link(rel="stylesheet", href="{% static 'css/font-awesome.css' %}")
      link(rel='stylesheet', type='text/x-sass', href='{% static "sass/styles.sass" %}')

body
  header
  main
    .container
      block content
        | huhu i'm the new content
  footer


  -compress js
    script(src="{% static 'js/jquery-3.1.1.js' %}")
    script(src="{% static 'js/tether.min.js' %}")
    script(src="{% static 'js/bootstrap.min.js' %}")
