extends 'base.pug'
-load static compress

block title
  | Hello Django

block content
  .hello-world
    span(v-text='title')
  .joke(v-text="joke")


block footer
  .container
    .v-row
      .v-col-3
        v-text-field#title(v-model='title' density="compact")
      .v-col-auto
        v-btn(:loading="isLoading" color="primary"
          @click="loadJoke()" href="#")
            v-icon.mr-1 mdi-autorenew
            |  get me another joke

block vue
  script.
    const app = createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          title: "Django + VueJs = â¤",
          joke: '',
          isLoading: false
        }
      },
      methods: {
        loadJoke: function () {
          this.isLoading = true
          axios.get('https://api.chucknorris.io/jokes/random')
            .then((response) => { // Arrow function
              this.joke = response.data.value
              const now = this.moment(new Date())
              this.displayMessage(`${now}: Joke loaded!`, 'success')
              this.isLoading = false
            })
            .catch((error) => {
              console.error('Error loading joke:', error)
              this.displayMessage(error, 'error')
              this.isLoading = false
            })
        }
      },
      created() {
        this.loadJoke()
        setTimeout(() => {
          title.focus();
        }, 500);
      }
    })
